$standard-padding: 0.5em;
// Устанавливаем переменные
$standard-padding: 0.5em; // Задаем стандартный внутренний отступ
$bubble-border-radius: 17px; // Задаем стандартный радиус скругления углов для "пузырей" сообщений

// Миксин для стилей сообщений бота
@mixin bot {
  background: #393e46; // Задаем фон боту
  color: #f7f7f7; // Задаем цвет текста
  align-self: flex-start; // Выравниваем элемент по левому краю
}

// Миксин для стилей сообщений пользователя
@mixin user {
  background: #e5dfdf; // Задаем фон пользователю
  color: 393e46; // Задаем цвет текста
  align-self: flex-end; // Выравниваем элемент по правому краю
}

// Стили для контейнера сообщений
.message-container {
  overflow-y: scroll; // Добавляем вертикальную прокрутку
  margin-bottom: 2em; // Добавляем внешний отступ снизу

  > div {
    display: flex; // Располагаем элементы в строку
    flex-direction: column; // Выстраиваем их по вертикали
  }

  // Стили для элементов сообщений
  .message {
    max-width: 400px; // Задаем максимальную ширину
    padding: $standard-padding; // Применяем стандартный внутренний отступ
    border-radius: $bubble-border-radius; // Применяем радиус скругления углов
    overflow-wrap: break-word; // Делаем перенос слов при необходимости
  }

  // Стили для сообщений пользователя
  .user {
    @include user; // Применяем стили для пользователя из миксина
  }

  // Стили для сообщений бота
  .bot {
    @include bot; // Применяем стили для бота из миксина
  }

  // Стили для блока опций
  .options {
    background: white; // Задаем белый фон
    display: flex; // Располагаем элементы в строку
    align-items: center; // Выравниваем по центру

    > div:first-child {
      font-size: 1.3em; // Задаем размер шрифта
      margin: 0.7em 0.7em 0.9em 0.3em; // Задаем отступы
      transform: rotate(90deg); // Поворачиваем элемент на 90 градусов

      i {
        color: #393e46; // Задаем цвет иконки
        animation: arrow-move 1.2s infinite; // Задаем анимацию

        @keyframes arrow-move {
          0% {
            transform: translateY(4px); // Анимация движения вниз
          }
          50% {
            transform: translateY(0); // Анимация движения вверх
          }
          100% {
            transform: translateY(4px); // Анимация движения вниз
          }
        }
      }
    }

    p {
      padding: $standard-padding; // Применяем стандартный внутренний отступ
      margin-right: 0.8em; // Задаем отступ справа
      @include bot; // Применяем стили для бота из миксина
      border-radius: $bubble-border-radius; // Применяем радиус скругления углов

      &:hover {
        opacity: 0.7; // Устанавливаем прозрачность при наведении
        cursor: pointer; // Изменяем вид курсора на указатель
      }
    }
  }

  // Пустой блок для добавления отступов
  .dummy-div {
    padding: 0.5em 0; // Устанавливаем внутренний отступ
  }
}
